<div class="main-container">
	<nav class="navbar default-navbar" id="navigation">            
        <div class="container-nav" style="display: block;">
            <div class="navbar-header" >
                <a class="navbar-logo" id="logo" href="/"><img src="https://usa.visa.com/content/dam/VCOM/nav-assets/logo.png" class="comp-logo"></a>
            </div>
            <div class="navbar-collapse" id="menu"> 
                <ul id="menuitems" class="nav navbar-nav navbar-nav-desktop hidden-xs" style="margin-right:40px;">
                    <li id="option1" style="margin-top:15px;"> <a href="#"   style="text-decoration:none">Pay With Visa</a></li>
					
					<li id="option2" style="margin-top:15px;"> <a href="#" style="text-decoration:none" >Partner With Us</a></li>
					
					<li id="option3" style="margin-top:15px;"> <a href="#"  style="text-decoration:none">Run Your Business</a></li>
					
					<li id="option4" style="margin-top:15px;"> <a href="#"  style="text-decoration:none">Travel With Visa</a> </li>
					
					<li id="option5" style="margin-top:15px;"> <a href="#"  style="text-decoration:none" >Visa Everywhere</a></li>
					
					<li class="search-nav-item search-btn" id="searchbutton" > 
                        <span class=" separator line" ></span> 
                        <button id="search-button" class="search_button toggle-search "><span><img src="assets/search.png"></span> </button> 
                    </li> 
                </ul>            
            </div>            
        </div>
    </nav>
	<div class="navborder">
        <div class="nav-border-bar navborder_custom">
            <div class="nav-line" style="left: 2500px; visibility: visible; display: none;">
                <img src="https://usa.visa.com/etc/designs/rvcom/images/global-nav-indicator-bar.jpg">
            </div>
        </div>
    </div>  
</div>
